// main.scss
@import './component/Cards/card';
@import './component/Cards/teaminfo';
@import 'illnesses';
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import './_about';
@import './_drug';
@import './component/mynav';
@import './component/searchbar';
@import './page';
body {
    background: linear-gradient(90deg, #0b4980 -10.74%, white);
    font-family: 'Cinzel', serif;
}
.h1{
    font-family: 'EB Garamond', serif;
}
.h2, h3, h4, h5, h6, p {
    font-family: 'Cinzel', serif;
}